streamlit==1.32.0
pypdf==4.2.0
langchain==0.1.17
langchain-community==0.0.36
langchain-text-splitters==0.0.1
langchain-huggingface==0.0.3
langchain-google-genai==0.0.11
faiss-cpu==1.7.4
sentence-transformers==2.6.1
transformers==4.40.1
torch --index-url https://download.pytorch.org/whl/cpu
Pillow
requests
